/* 
无拆分打印样式
chrome 优先
*/

@media print {
    /*页面设置*/
    @page {
        /* auto is the initial value */
        size: auto;
        margin: $print-page-margin; // this affects the margin in 
    }
    @page :blank {
        display: none;
    }
    .screen {
        display: none;
    }
    .print {
        display: block;
    }
    /*文档范围*/
    html,
    body {
        background: inherit;
        padding: 0;
        border: 0;
        font-size: $print-font-size;
        color: #111;
    }
    header,
    main {
        width: 90%;
    }
    header {
        padding: $print-header-padding;
        .avatar img {
            height: 7.5em;
        }
    }
    /*链接*/
    a,
    a:visited {
        text-decoration: underline;
        border-bottom: 0;
    }
    h3 a {
        text-decoration: none;
    }
    /*头像*/
    .avatar {
        //头像
        max-width: 30%;
        img {
            border-radius: 1%;
        }
    }
    .info .time,
    .info code {
        font-size: 90%;
    }
    /*color*/
    .block .sub {
        color: #222;
    }
    .name {
        color: #000;
    }
    section {
        margin: $print-section-margin;
        padding: $print-section-padding; // h2 {
        //     width: 99%;        
        //     text-align: center;
        // }
        h2,
        .content {
            display: block;
            margin: .3em auto;
        }
        .content {
            width: $print-content-width;
        }
    }
    .block {
        margin: $print-block-margin;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-between;
        .head {
            min-width: 62%;
        }
        .info .time {
            order: 2;
        }
        .time {
            color: #111;
            padding: 0 .3em;
            text-align: right;
        }
        details {
            flex-basis: 100%;
        }
        .detail,
        .text {
            margin-top: 1px;
            background: none; // font-weight: normal;
            color: #000;
        }
    }
    .tag {
        color: #222;
        margin-right: .5em; // border-bottom: 1px dashed;   
        code:not(:last-child)::after {
            content: ',';
            font-size: 50%;
        }
    }
    .head .sub {
        font-weight: 600;
    }
    summary {
        color: #111 !important;
        &::after {
            display: none;
        }
    }
    .other {
        .block {
            display: block;
        }
    }
    .list .text {
        margin: 0;
    }
    /*分页设置*/
    img,
    article,
    footer,
    ul,
    li,
    p,
    .detail,
    footer {
        page-break-inside: avoid;
    }
    /*隐藏脚注*/
    footer {
        color: #999;
        page-break-before: avoid;
        border-top: 1px solid;
        margin: $print-footer-top/2 0 0;
        padding: $print-footer-top 0 0;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        li {
            color: #bbb;
            height: 50px;
            margin: 0 2em;
            line-height: 2em;
            &:not(:last-child):after {
                content: '';
                padding: 0;
            }
        }
    }
}