/*×浏览器兼容设置*/


/* IE7,8 兼容*/

header,
main,
section,
summary,
footer,
{
    display: block
}

ul,
li {
    margin: 0;
    padding: 0;
}


/*webkit details summary*/

// summary {
//     &::before {
//         content: '\02630';
//         margin: 0 .5em;
//         font-size: .9em;
//         color: #aaa;
//         // display: inline-block;
//     }
// }
:-webkit-any(details) {
    summary {
        color: #555;
        cursor: pointer;
        &::before {
            content: '\02630';
            margin: 0 .5em 0 -.5em;
            font-size: .9em;
            color: #aaa;
            // display: inline-block;
        }
        &:focus {
            outline: none;
        }
        &::after {
            text-decoration: underline;
            font-size: .9em;
            margin-left: .3em;
        }
        &:lang(en)::after {
            content: "(detail)";
        }
        &:lang(zh)::after {
            content: "(详情)";
        }
        &::-webkit-details-marker {
            display: none;
        }
    }
}

details[open] {
    summary {
        color: #222 !important;
        animation: black .5s;
        &::before,
        &::after {
            display: none;
        }
    }
    p {
        animation: sweep .6s ease-in-out;
    }
}

@keyframes sweep {
    0% {
        opacity: 0;
        color: $detail_bg;
    }
    100% {
        opacity: 1;
        color: #000;
    }
}

@keyframes black {
    0% {
        font-weight: 700;
        color: #777;
    }
    50% {
        font-weight: 500;
        color: #000;
    }
    100% {
        font-weight: 600;
        color: #222;
    }
}