/*×浏览器兼容设置*/


/* IE7,8 兼容*/

header,
main,
section,
details,
summary,
footer,
{
    display: block
}

ul,
li {
    margin: 0;
    padding: 0;
}


/*details summary*/

summary {
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &::before,
    &::after {
        font-size: .9em;
        color: #aaa;
    }
}

//webkit 内核
:-webkit-any(summary) {
    color: #555;
    &::before {
        content: '\02630';
        margin: 0 .5em 0 -.5em;
    }
    &::after {
        text-decoration: underline;
        margin-left: .3em;
    }
    &:lang(en)::after {
        content: "(detail)";
    }
    &:lang(zh)::after {
        content: "(详情)";
    }
    &::-webkit-details-marker {
        display: none;
    }
}

// FireFox >=49 支持details
@supports ( text-align-last:end) {
     :-moz-any(summary) {
        color: #555;
        list-style: none;
        &::before {
            content: '\02630';
            margin: 0 .5em 0 -.5em;
        }
        &::after {
            text-decoration: underline;
            margin-left: .3em;
        }
        &:lang(en)::after {
            content: "(detail)";
        }
        &:lang(zh)::after {
            content: "(详情)";
        }
    }
}

details[open] {
    summary {
        color: #222 !important;
        animation: black .5s;
        &::before,
        &::after {
            display: none;
        }
    }
    p {
        animation: sweep .6s ease-in-out;
    }
}

@keyframes sweep {
    0% {
        opacity: 0;
        color: $detail_bg;
    }
    100% {
        opacity: 1;
        color: #000;
    }
}

@keyframes black {
    0% {
        font-weight: 700;
        color: #777;
    }
    50% {
        font-weight: 500;
        color: #000;
    }
    100% {
        font-weight: 600;
        color: #222;
    }
}