/*移动版适配*/

//低分辨率笔记本和宽pad
@media screen and (max-width: 1024px) {
    html,
    body {
        padding: 0;
        border: 0;
        background-color: $paper_color;
    }
    .container {
        padding: 0 .5em;
        max-width: 95%;
    }
    .pc-only {
        display: none;
    }
}

//平板pad或者手机横屏
@media screen and (max-width: 768px) {
    .avatar {
        display: none;
    }
    #name {
        margin-left: 10%;
    }
    #contact {
        margin-right: 10%;
        float: none;
    }
    .content {
        width: 92%;
        margin: 0 4%;
    }
    // .subject,
    h2 {
        display: block;
        text-align: center;
        margin: .8em auto .2em !important;
    }
}

@media screen and (max-width: 560px) {
    #name {
        font-size: .9em;
        margin-left: 5%;
    }
    #contact {
        margin-right: 5%;
    }
}

//手机
@media screen and (max-width: 480px) {
    header {
        display: block;
    }
    #name {
        display: block;
        border-bottom: .1em solid #bbb;
        margin: auto !important;
    }
    #contact {
        display: block;
        width: 80%; //IE 类半兼容
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
        margin: auto;
        padding-top: 1em;
    }
    .contact-item {
        padding-top: .2em;
        padding-left: .4em;
    }
    .block {
        .title {
            margin-top: 1em;
        }
        .sub {
            min-width: 99%;
            // text-align: left;
        }
        // .time {
        //     text-align: right;
        // }
    }
    .other .list {
        padding-left: 1em;
    }
    footer li {
        display: block;
        line-height: 1.5em;
        &::after {
            display: none;
        }
    }
}