/* 打印样式 */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-size: 12px;
    }
    html,
    body {
        background: inherit !important;
        padding: 0 !important;
        border: 0 !important;
    }
    html {
        font-size: 12px !important;
    }
    a,
    a:visited {
        text-decoration: underline !important;
    }
    // a[href]:after {
    //     content: " (" attr(href) ")";
    // }
    // a[href^="#"]:after,
    // a[href^="javascript:"]:after {
    //     content: "";
    // }
    // abbr[title]:after {
    //     content: " (" attr(title) ")";
    // }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    // pre,
    // blockquote {
    //     border: 1px solid #999;
    //     page-break-inside: avoid;
    // }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    // thead {
    //     display: table-header-group;
    // }
    // tr,
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    img,
    .block,
    ul {
        page-break-inside: avoid;
    }
    h2,
    h3,
    header,
    main,
    .container,
    #others {
        page-break-after: avoid;
    }
    header,
    section {
        display: flex;
    }
    .container {
        max-width: 90%;
        width: 90%;
        border-bottom: 1px dashed #ccc;
    }
    .avatar {
        width: 25%;
        img {
            border-radius: 1%;
        }
    }
    #contact {
        display: inline-block;
    }
    //隐藏脚注
    footer {
        padding-bottom: 0;
        margin: 0;
        display: none;
    }
}