/* 
打印样式
chrome 优先
*/

@media print {
    @page {
        /* auto is the initial value */
        size: auto;
        margin: 1.4cm 1cm 1cm; // this affects the margin in 
    }
    @page :blank {
        display: none;
    }
    html,
    body {
        background: inherit !important;
        padding: 0 !important;
        border: 0 !important;
        font-size: 12px !important;
    }
    //文档范围
    .container {
        // padding: 2em;
        max-width: 90%;
        border-bottom: 1px dashed #ccc;
    }
    header {
        padding-top: 0;
        margin: auto;
    }
    //链接
    a,
    a:visited {
        text-decoration: underline !important;
    }
    //头像
    .avatar {
        max-width: 30%;
        img {
            border-radius: 1%;
        }
    }
    //内容
    section {
        display: flex;
    }
    summary {
        &::after {
            display: none;
        }
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    // 分页设置
    img,
    .block,
    ul,
    li,
    p,
    span {
        page-break-inside: avoid;
    }
    h2,
    h3,
    h4,
    header {
        page-break-after: avoid;
    }
    //隐藏脚注
    footer {
        padding-bottom: 0;
        margin: 0;
        display: none;
    }
}