/** 简历基本样式*/


/*变量*/

//网页背景
$bg_color: #f9f9fc;
//纸张颜色
$paper_color: #fff;
//默认文字颜色
$default_color: #333;
//详细内容颜色
$detail_bg: rgba(236, 236, 236, .5);
//时间外边颜色
$time_outline: rgba(180, 180, 180, .15);
//item背景色
$other_bg:rgba(238, 238, 238, .3);

/*导入依赖*/

@import "mixins"; //函数
@import "special"; //浏览器定制

/*水平布局IE兼容*/

.avatar,
#name,
#contact,
h2,
h3,
h4,
.content,
footer li {
    display: inline-block;
    *display: inline; //IE 7兼容
    *zoom: 1;
}

html {
    width: 100%;
    font-size: 14px;
    padding: 1.5em;
    background-color: $bg_color;
    overflow-y: scroll;
    @include box-sizing();
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 75em;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    background-color: $paper_color;
    border: 1px solid #dedede;
    color: $default_color;
    font: 400 1em Palatino, "Palatino Linotype", Georgia, serif;
    @include font-smoothing();
    @include hyphens();
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: 75%;
    margin: auto;
    text-align: left;
}


/* 头部信息*/

header {
    justify-content: space-between;
    border-bottom: .3em solid #7fb8ec;
    padding: 2.5em 1.5em 1em;
}

.avatar,
#name,
#contact {
    min-width: 25%;
    vertical-align: middle;
}

//头像
.avatar {
    max-width: 27%;
    margin-left: 8%;
    img {
        max-width: 8.5em;
        height: 6.5em;
        border-radius: 50%;
    }
}

#name {
    text-align: center;
    // #fullname,
    h1 {
        font-size: 3em;
        font-weight: 900;
        color: #6fa8dc;
        display: inline;
    }
    .jobtitle {
        font-size: 1.6em;
        font-weight: bold;
        // 英文使用斜体
        &:lang(en) {
            font-style: italic;
        }
    }
}

#contact {
    text-align: left;
    font-size: .95em;
    font-style: normal;
    padding: 0 1em;
    float: right;
    *float: none; //兼容IE7
}

//图标
.icon {
    margin-right: .5em;
    svg {
        display: inline-block;
        vertical-align: middle;
        max-height: 95%;
        fill: $default_color;
    }
}


/* 分类介绍*/

section {
    // display: flex;
    margin-top: .5em;
    padding-left: .2em;
    /*此次用 :not(last)为了兼容ie 7 8*/
    border-bottom: .1em solid #bbb;
    &:last-child {
        border-bottom: none;
    }
}

// .subject,
h2 {
    font-size: 1.5em;
    text-align: right;
    width: 20%;
    min-width: 7em;
    font-weight: 800;
    color: #6fa8dc;
    text-transform: uppercase;
    vertical-align: top;
}

.content {
    margin-left: 2%;
    width: 75%;
}

.block {
    margin-bottom: .5em;
    padding-bottom: .3em;
    .head {
        margin: .9em auto .1em;
    }
    .title {
        font-size: 1.4em;
        font-weight: 800;
        min-width: 60%;
        margin: 0;
        vertical-align: middle;
        color: black;
    }
    .sub {
        font-size: 1.2em;
        color: #858585;
        text-align: right;
        font-weight: 700;
        margin: 0;
        min-width: 40%;
    }
    .time {
        font-size: .95em;
        color: #aaa;
        i {
            font-style: normal;
            padding: .1em .3em;
            @include outline($time_outline);
        }
    }
    .summary {
        font-size: 1.1em;
        // font-weight: 500;
        margin: .8em 0 0 1em;
        line-height: 1.5em;
        font-weight: 600;
    }
    .detail {
        font-size: 1.05em;
        margin: 1em 0;
        text-indent: 1.2em;
        line-height: 1.4em;
        font-weight: 400;
        background: $detail_bg;
        ul {
            margin-left: 2em;
        }
        li {
            text-indent: 0;
        }
    }
    .items {
        line-height: 1.5em;
        margin: 1em 0 0 1em;
        font-size: 1.1em;
        font-weight: 600;
        .item {
            background: rgba(238, 238, 238, 0.33);
        }
    }
}

.item {
    margin-right: 1em;
    display: inline-block;
    padding: .1em;
    @include outline($other_bg);
}

// 其他others
.other {
    .block {
        margin-bottom: .6em;
        list-style: none;
    }
    .name {
        font-weight: 700;
        font-size: 1.1em;
        min-width: 0;
        margin: 0 .5em 0 0;
    }
    .text {
        background-color: $other_bg;
    }
    .list {
        padding-left: 3em;
        line-height: 1.7em;
    }
}

// 脚注
footer {
    border-top: .1em dashed #ccc;
    margin-top: 2em;
    padding-top: 1em;
    color: #888;
    font-size: .9em;
    line-height: 3em;
    font-weight: 300;
    ul {
        margin: 0 auto;
    }
    li {
        margin: .15em;
        &:not(:last-child):after {
            content: '|';
            padding: .25em;
            color: $default_color;
            font-size: 1.1em;
        }
    }
    a {
        text-decoration: underline;
    }
}