/** 简历基本样式*/
html {
  width: 100%;
  font-size: 14px;
  background-color: #f9f9fc;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  padding: 1.5em;
}
body{
  text-align: center;
  // width: 100%;
  max-width: 70em;
  
  font: 400 1rem Palatino,"Palatino Linotype",Georgia,serif;

  background-color: #fff;
  border: 1px solid #dedede;
  color: #333;
  margin: 0 auto;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
}

a {
  text-decoration: none;
  color: #08c;
}
a:hover {
  text-decoration: underline;
}
.container{
  max-width: 75%; 
  // max-width: 80%;   
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: .3rem solid #7fb8ec;
}

.avatar img{
  max-width: 8.5em;
  max-height: 8.5em;
  border-radius: 50%;
}
.avatar{
  padding: 1em;
}
#name-wrapper {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
#fullname{
  font-size: 3.2rem;
  font-weight: 900;
  color: #6fa8dc;
  display: inline;
}
#jobtitle{
  font-size: 1.6rem;
  font-style: italic;
}
#contact{
  font-size: 1rem;
  padding-top: 2.9rem;
  padding-bottom: 1.5rem;
}
.contact-item>a{
  color: #333;
}
section{
  display: flex;
  margin-top: 1rem;
  padding-left: .2rem;
  border-bottom: .1rem solid #bbbbbb;
}
.title{
  font-size: 1.5rem;
  text-align: right;
  margin-right: 1em;
  min-width: 10rem;
  font-weight: 800;
  color: #6fa8dc;
}
.content{
}
.block{
  margin-bottom: 1rem;
}
.block-head{
  margin: .5rem auto .5em auto;  
}
.block-head>*{
  margin: 0;
}
.block-title{
  font-size: 1.4rem;
  font-weight: 700;
  // margin-bottom: .5rem;  
  min-width: 60%;
  display: inline-block;
}
.block-subtitle{
  font-size: 1.1rem;
  color: #858585;
  text-align: right;

  // margin-bottom: .5rem;
  display: inline-block;
  font-weight: 600;
  min-width: 40%;
}
.block-duration{
  font-size: .9rem;
  color: #bbb;
  margin: .2rem auto .5em auto;
}
.block-detail{
  // font-size: 1rem;
  line-height: 1.3;
  text-indent: 1.2em;
  font-weight:400;
}
footer{
  color: #bbb;
  font-size: 1rem;
  min-height: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

footer>a{
  color: #80bcf3;
}