/** 简历基本样式*/

//网页背景
$bg_color: #f9f9fc;
//纸张颜色
$paper_color: #fff;
//默认文字颜色
$default_color: #333;
//详细内容颜色
$detail_bg: rgba(236, 236, 236, .5);
//时间外边颜色
$time_outline: rgba(180, 180, 180, .15);
//item背景色
$other_bg:rgba(238, 238, 238, 0.3);
html {
    width: 100%;
    font-size: 14px;
    padding: 1.5em;
    background-color: $bg_color;
    overflow-y: scroll;
    @include box-sizing();
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 75em;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    background-color: $paper_color;
    border: 1px solid #dedede;
    color: $default_color;
    font: 400 1rem Palatino, "Palatino Linotype", Georgia, serif;
    @include font-smoothing();
    @include hyphens();
}

a {
    text-decoration: none;
    color: #08c;
    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: .3rem solid #7fb8ec;
    padding: 2.5em 1em 1em;
}

//头像
.avatar {
    // padding: 1em;
    img {
        max-width: 8.5em;
        max-height: 8.5em;
        border-radius: 50%;
    }
}

.avatar,
#name-wrapper,
#contact {
    display: inline-block;
    text-align: center;
    min-width: 28%;
}

// #fullname,
h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #6fa8dc;
    display: inline;
}

#jobtitle {
    font-size: 1.6rem;
    font-style: italic;
}

#contact {
    text-align: left;
    font-size: .95rem;
}

//图标
.icon {
    margin-right: .5rem;
    svg {
        display: inline-block;
        vertical-align: middle;
        max-height: 95%;
        fill: $default_color;
    }
}

.contact-item>a {
    color: $default_color;
}

section {
    display: flex;
    margin-top: 1rem;
    padding-left: .2rem;
    border-bottom: .1rem solid #bbb;
    &:last-child {
        border-bottom: none;
    }
}

// .subject,
h2 {
    font-size: 1.5rem;
    text-align: right;
    margin-right: 1rem;
    width: 20%;
    min-width: 10.5rem;
    font-weight: 800;
    color: #6fa8dc;
    text-transform: uppercase;
}

.content {
    margin-left: 1rem;
    width: 75%;
    // width: 100%;
}

h2,
.content {
    // display: table-cell;//兼容IE9
    display: inline-block;
    vertical-align: top;
}

.block {
    margin-bottom: 1rem;
    .head {
        margin: .5rem auto .5em auto;
    }
    .head>* {
        margin: 0;
    }
    // .title ,
    h3 {
        font-size: 1.3rem;
        font-weight: 700;
        min-width: 60%;
        display: inline-block;
        a {
            color: initial;
        }
    }
    .sub {
        font-size: 1.1rem;
        color: #858585;
        text-align: right;
        display: inline-block;
        font-weight: 600;
        min-width: 40%;
    }
    .time {
        font-size: .95rem;
        color: #aaa;
        margin: .2rem auto .5rem auto;
        i {
            font-style: normal;
            @include outline($time_outline);
        }
    }
    .detail {
        font-size: 1.05rem;
        line-height: 1.3;
        text-indent: 1.2em;
        font-weight: 500;
        background: $detail_bg;
    }
}

// 其他others
#others {
    ul {
        padding-left: 1.5em;
    }
    .name {
        font-weight: 700;
        font-size: 1.1rem;
        margin-right: .5rem;
    }
    .detail {
        background-color: $other_bg;
    }
    .item {
        margin-right: 1rem;
        @include outline($other_bg);
    }
}

// 脚注
footer {
    border-top: .1rem dashed #ccc;
    margin-top: 2rem;
    padding-top: 1rem;
    color: #888;
    font-size: 0.9rem;
    line-height: 3rem;
    font-weight: 300;
    ul {
        margin: 0 auto;
        padding: 0;
    }
    li {
        display: inline-block;
        &:before {
            content: '|';
            color: $default_color;
            font-size: 1.1rem;
        }
        &:first-child:before {
            content: '';
            font-size: inherit;
        }
    }
    a {
        color: #888;
        text-decoration: underline;
    }
}