--- 
layout: default
---
{% assign data = site.data[page.data] %}
<!DOCTYPE html>
<html lang="{{ data.lang }}">

<head>
  <title>{{ data.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl}}?{{site.time | date: '%s'}}">
</head>

<body>
  <div class="container">
    <header>
      {% if data.photo %}
      <div class="avatar">
        <img src="{{data.photo}}?{{site.time | date: '%s'}}" alt="头像">
      </div>
      {% endif %}
      <div id="name-wrapper">
        <h1 id="fullname">{{ data.name }}</h1>
        <div id="jobtitle">{{ data.jobtitle }}</div>
      </div>
      <div id="contact">
        {% for item in data.contact %}
        <div class="contact-item">
          {% if item.icon%}
            <i class="icon" aria-hidden="true">{% include {{item.icon}} %}</i>
          {% endif %}
          {% if item.href%}
            <a href="{{item.href }}">{{item.text}}</a>
          {% else %}
            <span>{{ item.text }}</span>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </header>

    <main>
      {% for list in data.list %}
      <section id="{{list.type}}">
        <h2 class="subject">{{ list.name | default: list.type }}</h2>
        <div class="content">
          {% for content in list.content %}
          <div class="block">
            <div class="head">
              {% if content.url %}
               <h3 class="title">
                <a href="{{content.url}}" target="_blank">{{content.title}}</a>
               </h3>
              {% else %}
                <h3 class="title">{{content.title}}</h3>
              {% endif %}
              </h3>
              {% if content.sub %}
              <div class="sub">{{content.sub}}</div>
              {% endif %} 
            </div>
            {% if content.duration %}
            <div class="time"><i>{{content.duration}}</i></div>
            {% endif %}
            <p class="detail">{{content.detail }}</p>
          </div>
          {% endfor %}
        </div>
      </section>
      {% endfor %}

      {% if data.others %}
      <section id="others">
        <h2 class="subject">{{ data.others.title | default: '其他' }}</h2>
        <div class="content">
        <ul>
          {% for content in data.others.content %}
            <li>
              {% if content.name %}
                <span class="name">{{content.name}}</span>
              {% endif %}
              {% if content.text%}
                <span class="detail">{{content.text}}</span>
              {% elsif content.items %}
                {% for item in content.items %}
                  <span class="item detail">{{item}}</span>
                {% endfor %}
              {% elsif content.list %}
                <ul class="list detail">
                  {% for li in content.list %}
                    <li>{{li}}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <span>{{content}}</span>
              {% endif %}
              </li>
          {% endfor %}
        </ul>
        </div>
      </section>
      {% endif%}

    </main>
  </div>

  <footer>
    <ul>
       {% for footer in data.footer %}
          {% if footer.href %}
            <li><a href="{{footer.href}}">{{ footer.text | default:footer }}</a></li>
          {% else %}
            <li>{{ footer.text | default:footer }}</li>
          {% endif %}
        </li>
       {% endfor %}
       {% case data.lang %}
        {% when 'zh' %}
          <li>更新于 {{ page.date | default: site.time | date: '%Y-%m-%d'}}</li>
        {% when 'en' %}
          <li>Last edit {{ page.date | default: site.time | date: '%B %d, %Y'}}</li>
      {% endcase %}
    </ul>
  </footer>

</body>

</html>