--- 
layout: default
--- 
{% assign data = site.data[page.data] %}
<!DOCTYPE html>
<html lang="{{ data.lang }}">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ data.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl}}?{{site.time | date: '%s'}}">
  {% for script in site.scripts %}
  <script src="{{script.src}}?{{site.time | date: '%s'}}" {{script.defer}}></script>
  {% endfor %}
<!--[if lt IE 9]>
<script>if(/*@cc_on!@*/0){var a=['header','main','section','footer','details','summary'],i=0;while(i<a.length)document.createElement(a[i++])}
</script>
<![endif]-->
</head>

<body>
  <div class="container">

    <header>
      {% if data.photo %}
      <div class="avatar">
        <img src="{{data.photo}}?{{site.time | date: '%s'}}" alt="photo">
      </div>
      {% endif %}
      <div id="name">
        <h1>{{ data.name }}</h1>
        <div class="jobtitle">{{ data.jobtitle }}</div>
      </div>
      <div id="contact">
        {% for item in data.contact %}
        <div class="contact-item">
          {% if item.icon %}
          <i class="icon" aria-hidden="true">{% include {{item.icon}} %}</i>
          {% endif %} 
          {% if item.href %}
          <a target="_blank" href="{{item.href }}">{{ item.text }}</a>
          {% else %}
          <span>{{ item.text }}</span> 
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </header>

    <main>
      {% for list in data.main %}
      <section id="{{list.type}}">
        <h2 class="subject">{{ list.name | default: list.type }}</h2>
        <div class="content">
          {% for content in list.content %}
          <div class="block">


            <div class="head">
              {% if content.url %}
                <h3 class="title">
                  <a href="{{content.url}}" target="_blank">{{ content.title }}</a>
                </h3>
              {% else %}
                <h3 class="title">{{ content.title }}</h3>
              {% endif %} 
              {% if content.sub %}
                <h4 class="sub">{{ content.sub }}</h4>
              {% endif %}
            </div>

            {% if content.duration %}
              <div class="time"><i>{{ content.duration }}</i></div>
            {% endif %}

            {% if content.summary and content.detail %}
              <details {{ content.open }}>
                <summary class="summary">{{ content.summary }}</summary>
                <p class="detail">{{ content.detail }}</p>
              </details>
            {% elsif content.summary %}
              <div class="summary">{{ content.summary }}</div>
            {% else %}
              <p class="detail">{{ content.detail }}</p>
            {% endif %}

          </div>
          {% endfor %}
        </div>
      </section>
      {% endfor %} 
      
      {% if data.others %}
      <section id="others">
        <h2 class="subject">{{ data.others.title | default: '其他' }}</h2>
        <div class="content">
          <ul>
            {% for content in data.others.content %}
            <li class="block">
              {% if content.name %}
                <h3 class="name">{{ content.name }}</h3>
              {% endif %}
              {% if content.text%}
                <span class="text">{{ content.text }}</span> 
              {% elsif content.items %}
                {% for item in content.items %}
                  <span class="text item">{{ item }}</span>
                {% endfor %} 
              {% elsif content.list %}
                <ul class="list">
                  {% for li in content.list %}
                    <li class="text">{{ li }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <span>{{ content }}</span>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      {% endif%}

    </main>
  </div>

  <footer>
    <ul>
      {% for footer in data.footer %}
        {% if footer.href %}
          <li><a href="{{footer.href}}">{{ footer.text | default:footer }}</a></li>
        {% else %}
          <li>{{ footer.text | default:footer }}</li>
        {% endif %} 
      {% endfor %}
      {% case data.lang %} 
        {% when 'zh' %}
          <li class="pc-only" ><a href="javascript:window.print()">打印 (PDF)</a></li>
          <li>更新于{{ page.date | default: site.time | date: '%Y-%m-%d'}}</li>
        {% when 'en' %}
          <li class="pc-only" ><a href="javascript:window.print()">Print (PDF)</a></li>
          <li>Last edit {{ page.date | default: site.time | date: '%B %d, %Y'}}</li>
      {% endcase %}
    </ul>
  </footer>
  {% for script in data.scripts %}
    <script src="{{ script.src }}?{{site.time | date: '%s'}}" {{ script.defer }}></script>
  {% endfor %}
</body>

</html>